<div class="container">
  <h3 mat-dialog-title *ngIf="data.id">Codigo do Prato: {{data.id}}</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <div class="form">
      <mat-form-field color="accent" *ngIf="data.id">
        <input matInput #input class="form-control" readonly placeholder="Id" [(ngModel)]="data.id" name="id" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <textarea matInput #input class="form-control" placeholder="Nome do Prato" [(ngModel)]="data.nome" name="nome" required ></textarea>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" currencyMask  [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" placeholder="Preço" [(ngModel)]="data.preco" name="preco" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field>
        <mat-select required placeholder="Restaurante" [(ngModel)]="data.restauranteId" name="restaurante">
          <mat-option *ngFor="let rst of restaurantes" [value]="rst.id">
            {{rst.nome}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" color="primary" (click)="stopEdit()">Salvar</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
    </div>
  </form>
</div>